<form method="POST" action="/change-password">
  <input required type="email" name="email" placeholder="Email" />
  <input required type="password" name="oldPassword" placeholder="Old Password" />
  <input required type="password" name="newPassword" placeholder="New Password" />
  <input type="submit" value="Change password">
</form>