<form method="POST" action="/login">
  <input required type="email" name="email" placeholder="Email" />
  <input required type="password" name="password" placeholder="Password" />
  <input type="submit" value="Login user">
</form>