<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="offset-md-4 col-md-4">
                <h4>Hello {{name}}</h4>
                <hr>
                <form action="/admins/askMe" method="GET">
                    <button class="btn btn-light" type="submit">Give Answers to askMe questions</button>
                </form>
                <p></p>
                <form action="/faqs/show" method="GET">
                    <button class="btn btn-light" type="submit">FAQs</button>
                </form>
                <p></p>
                <form action="/admins/reports" method="GET">
                    <button class="btn btn-danger" type="submit">Reports</button>
                </form>
                <p></p>
                <form action="/makeAdmin" method="GET">
                    <p></p>
                    <button class="btn btn-dark" type="submit">Make Admin</button>
                </form>        
            </div>
        </div>
    </div>
</body>
</html>