<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FAQs</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="offset-lg-4 col-lg-4">
                <h3><b>Update FAQ</b></h3>
                {{#if error}}
                        <div class="alert alert-danger">
                            {{msg}}
                        </div>
                {{/if}}
                <form action="/faqs/update/{{faq._id}}" method="POST">
                    <label for="question">
                        <input class="form-control" type="text" name="question" id="question" placeholder="{{faq.question}}" >
                    </label>
                    <p></p>
                    <label for="answer">
                        <input class="form-control" type="text" name="answer" id="answer" placeholder="{{faq.answer}}" >
                    </label>
                    <p></p>
                    <button class="btn btn-info" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>