<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Log in</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="offset-md-4 col-md-4">
                <h2>LogIn</h2>
                <hr>
                {{#if failed}}
                <div class="alert alert-danger">
                    Oops! You have entered a wrong username and password.
                </div>
                {{/if}}
                {{#if registered}}
                <div class="alert alert-danger">
                   Please Verify Your Email.
                </div>
                {{/if}}
                <form action="/users/login" method="POST">
                    <label for="username">
                        email:
                        <input class="form-control" type="text" name="email" id="email" placeholder="Enter Email" required>
                    </label>
                    <label for="password">
                        Password:
                        <input class="form-control" type="password" name="password" id="password" placeholder="Enter Password" required>
                    </label>
                    <p></p>
                    <button class="btn btn-info" type="submit">Login</button>
                </form>
                <p></p>
                <form action="/forgetPassword" method="GET">
                    <p></p>
                    <button class="btn btn-light" type="submit">forget password ?</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>