<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Make New Password</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="offset-md-4 col-md-4">
                <h2>Enter New Password</h2>
                <hr>
                {{#if error}}
                <div class="alert alert-danger">
                   {{msg}}
                </div>
                {{/if}}
                <form action="/users/makePassword" method="POST">
                    <label for="email">
                        <input class="form-control" type="password" name="password" id="password" placeholder="New Password" required>
                    </label>
                    <label for="key">
                        <input class="form-control" type="text" name="key" id="key" placeholder="Enter Key" required>
                    </label>
                    <p></p>
                    <button class="btn btn-info" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>