<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="offset-md-4 col-md-4">
                <h4>Hello {{name}}</h4>
                <hr>
                {{#if error}}
                    {{msg}}
                {{/if}}
                <form action="/search" method="POST">
                    <div class="row">
                        <div class="col">
                            <label for="word">
                                <input class="form-control" type="text" name="word" id="word" placeholder="Enter Topic/Blog Name">
                            </label>
                        </div>
                        <div class="col">
                            <button class="btn btn-primary btn-sm" type="submit">Search</button>
                        </div>
                    </div>
                </form> 
                <hr>
                {{#if isAdmin}}
                <form action="/admins/home" method="GET">
                    <p></p>
                    <button class="btn btn-dark" type="submit">Admin Page</button>
                </form>             
                {{/if}}
                <p></p>
                <form action="/blogs/show" method="GET">
                    <p></p>
                    <button class="btn btn-primary" type="submit">Your Blogs</button>
                </form>                
                <form action="/users/details" method="GET">
                    <p></p>
                    <button class="btn btn-info" type="submit">Your Details</button>
                </form>
                <form action="/users/logout" method="GET">
                    <p></p>
                    <button class="btn btn-warning" type="submit">Log out</button>
                </form>
                <p></p>
                <p></p>
                <form action="/users/askMe" method="GET">
                    <p></p>
                    <button class="btn btn-light" type="submit">Have a doubt?</button>
                </form>             
            </div>
        </div>
    </div>
</body>
</html>