.App{
    width: 563px;
    height: 1218px;
    background-color: black;
    border-radius: 50px;
    padding: 20px;
    color: white;
    position: relative;
} 

.top{
    display: flex;
    flex-direction: row ;
    justify-content: space-between;
    height: 250px;;
    padding: 0 20px;    
    color: white;
}

.display{
    font-size: 130px ;
    margin-bottom:20px;
    font-weight: 300;
    text-align: right;
    color: red;
}

.buttons{
    display: grid;
    grid-gap: 20px;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr) ;
    color: white;

}

.bottom{
    position: absolute;
    width: 200px;
    height: 5px;
    background-color: white;
    bottom: 10px;
    left: 50%;
    border-radius: 4px;
    transform: translatex(-50%);
}