   <!-- Footer -->
   <footer class="bg-Dark py-4">
      <div class="container text-center">
        <p class="color-white mb-0 py-2">© 2019 Deepam Bahre All rights reserved.</p>
      </div>
      <ul class="social-footer-icon text-center list-inline mt-4">
        <li class="list-inline-item"><a href="#" target="_blank" title="twitter"><i class="fa fa-twitter twitter"></i></a></li>
        <li class="list-inline-item"><a href="#" target="_blank" title="facebook"><i class="fa fa-facebook facebook"></i></a></li>
        <li class="list-inline-item"><a href="#" target="_blank" title="instagram"><i class="fa fa-instagram instagram"></i></a></li>
        <li class="list-inline-item"><a href="#" target="_blank" title="pinterest"><i class="fa fa-pinterest pinterest"></i></a></li>
        <li class="list-inline-item"><a href="#" target="_blank" title="vimeo"><i class="fa fa-vimeo vimeo"></i></a></li>
      </ul>
  </footer>
  <!-- Footer --> 
 