<%- include('./_layouts/header') %>



<h1>Hello index</h1>
<h2 class="page-title" ><Add a page/h2>
<a href="/admin/pages" class='btn btn-primary'>Back to all pages</a>
<br> <br>

<form method="POST" action="/admin/pages/add-page">

</form>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
<% include('./_layouts/footer') %>