
<div class="router">
<div class="container">
    <div class="row"><div class="col-md-12 col-sm-12">
        <div class="route-info">

<h3>User routes:-</h3>

<p><span>User Register (POST):</span> <a href="#">http://localhost:5000/user/register</a></p>

<p><span>User login (POST):</span> <a href="#">http://localhost:5000/user/login</a></p>

<p><span>User Profile (GET) :</span> <a href="#">http://localhost:5000/user/profile</a></p>

<p><span>Get All Users (GET) :</span> <a href="#">http://localhost:5000/user/AllUser</a></p>

<p><span>Get Single User By Id (GET) :</span> <a href="#">http://localhost:5000/user/:id</a></p>

<p><span>Update a User By Id (GET) :</span> <a href="#">http://localhost:5000/user/:id</a></p>

<p><span>Delete a User By Id (GET):</span> <a href="#">http://localhost:5000/user/:id</a></p>

<p><span>Search a User By username (POST) :</span> <a href="#">http://localhost:5000/user/:username</a></p>


<h3>Post routes:-</h3>

<p><span>Create new Post (GET):</span> <a href="#">http://localhost:5000/post/AddPost</a>

<p><span>Get All Post (GET) :</span> <a href="#">http://localhost:5000/post/AllPost</a>

<p><span>Get Single Post By Id (GET) :</span> <a href="#">http://localhost:5000/post/:id</a>

<p><span>Update a Post By Id (GET) :</span> <a href="#">http://localhost:5000/post/:id</a>

<p><span>Delete a Post By Id (GET)  :</span> <a href="#">http://localhost:5000/post/:id</a>


<h3>Comments routes:-</h3>

<p><span>Create new Comment (GET):</span> <a href="#">http://localhost:5000/comment/AddComment/:PostId</a>

<p><span>Get All Comment (GET) :</span> <a href="#">http://localhost:5000/post/AllComment</a>

<p><span>Get Single Comment By Id (GET) :</span> <a href="#">http://localhost:5000/comment/:id</a>

<p><span>Update a Comment By Id (GET) :</span> <a href="#">http://localhost:5000/comment/:id</a>

<p><span>Delete a Comment By Id (GET)  :</span> <a href="#">http://localhost:5000/comment/:id</a>

</div>
</div>
</div>
</div>
</div>